<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="sidebar">
        <h2>Explorer</h2>
        <div class="sidebar__folder dev close">
            <div class="sidebar__folder--title">dev</div>
            <div class="sidebar__folder--content">
                <div class="sidebar__folder dev close">
                    <div class="sidebar__folder--title">dev</div>
                    <div class="sidebar__folder--content">
                        <div class="sidebar__file">index.html</div>  
                        <div class="sidebar__file">styles.css</div>
                        <div class="sidebar__file">script.js</div>
                    </div>

                <div class="sidebar__file">index.html</div>  
                <div class="sidebar__file">styles.css</div>
                <div class="sidebar__file">script.js</div>
                </div>
            </div> 
        </div> 
    </div>
    <div class="explorer">
        <h1>hui</h1>
    </div>
</body>
</html>
