{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloud</title>
    <link href="{% static 'css/explorer/main.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="main">
      <div class="explorer"></div>
    </div>
    <div class="progressUpload">
      <button class="progressUpload-close">close</button>
    </div>
    <script type="module" src="{% static 'js/explorer/main.js' %}"></script>
  </body>
</html>
